.close-button {
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  margin: 6%;
}

.close-button {
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal-content th,
.modal-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.modal-content th {
  background-color: #f4f4f4;
}